<div class="user-management">
  <h2>Quản lý Người Dùng</h2>

  <!-- Form chỉnh sửa người dùng -->
  <form class="user-form" *ngIf="isEditing" (ngSubmit)="updateUser()">
    <div class="form-group">
      <label for="id">Mã số sinh viên/giảng viên</label>
      <input id="id" type="text" [(ngModel)]="newUser.userId" name="id" disabled />
    </div>

    <!-- Vai trò sẽ được hiển thị nhưng không thể thay đổi -->
    <div class="form-group">
      <label for="userRole">Vai trò</label>
      <!-- Hiển thị vai trò bằng tiếng Việt trong input -->
      <input id="userRole" type="text" [value]="getRoleDisplay(newUser.user.role)" name="role" disabled />
    </div>
    
    <div class="form-group">
      <label for="userName">Username</label>
      <input id="userName" type="text" [(ngModel)]="newUser.user.username" name="userName" required />
    </div>
    <div class="form-group">
      <label for="name">Tên Người Dùng</label>
      <input id="name" type="text" [(ngModel)]="newUser.name" name="name" required />
    </div>


    <div class="form-group">
      <label for="userEmail">Email</label>
      <input id="userEmail" type="email" [(ngModel)]="newUser.user.email" name="email" required />
    </div>

    <button type="submit" class="btn-save">{{ isEditing ? 'Cập Nhật Người Dùng' : '' }}</button>
    <button type="button" class="btn-reset" (click)="resetForm()">Đặt Lại</button>
  </form>



  <!-- Danh sách người dùng -->

  <div class="filter-search">
    <div class="form-group">
      <label for="searchName">Tìm kiếm theo tên</label>
      <input id="searchName" type="text" [(ngModel)]="searchName" placeholder="Nhập tên người dùng..." />
    </div>

    <div class="form-group">
      <label for="searchEmail">Tìm kiếm theo email</label>
      <input id="searchEmail" type="text" [(ngModel)]="searchEmail" placeholder="Nhập email..." />
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Tên Người Dùng</th>
        <th>Username</th> <!-- Thêm cột Username -->
        <th>Mã Số Sinh Viên/Giảng Viên</th> <!-- Thêm cột userId -->
        <th>Vai trò</th>
        <th>Email</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers">
        <td>{{ user.name }}</td>
        <td>{{ user.user.username }}</td> <!-- Hiển thị username -->
        <td>{{ user.userId }}</td> <!-- Hiển thị userId -->
        <td>{{ getRoleDisplay(user.user.role) }}</td> <!-- Hiển thị vai trò chuyển đổi -->
        <td>{{ user.user.email }}</td>
        <td>
          <button (click)="editUser(user)" type="button" class="btn btn-link btn-primary btn-lg" title="Chỉnh Sửa">
            <i class="fa fa-edit"></i>
          </button>
          <!-- Xóa người dùng -->
          <button (click)="deleteUser(user.id, user.user.role)" type="button" class="btn btn-link btn-danger"
            title="Xóa">
            <i class="fa fa-times"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  

</div>