<!-- Navbar Start -->
<nav
  class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0"
>
  <a
    [routerLink]="['/student/']"
    class="navbar-brand d-flex align-items-center px-4 px-lg-5"
  >
    <img src="../../../../assets/student/img/sv_logo_dashboard.png" alt="" />
  </a>
  <button
    type="button"
    class="navbar-toggler me-4"
    data-bs-toggle="collapse"
    data-bs-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto p-4 p-lg-0">
      <a [routerLink]="['/']" class="nav-item nav-link active">Home</a>
      <a [routerLink]="['/about-us']" class="nav-item nav-link">About</a>
      <a href="courses.html" class="nav-item nav-link">Courses</a>
      <div class="nav-item dropdown">
        <a   class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
          >Pages</a
        >
        <div class="dropdown-menu fade-down m-0">
          <a href="team.html" class="dropdown-item">Our Team</a>
          <a href="testimonial.html" class="dropdown-item">Testimonial</a>
          <a href="404.html" class="dropdown-item">404 Page</a>
        </div>
      </div>
      <a href="contact.html" class="nav-item nav-link">Contact</a>
    </div>
    <div class="nav-item dropdown">
      <a   class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
        <i class="fa fa-user text-primary"></i>
      </a>
      <div class="dropdown-menu fade-down m-0">
        <a   class="dropdown-item">Sign In</a>
        <a   class="dropdown-item">Sign Up</a>
      </div>
    </div>
  </div> -->
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto p-4 p-lg-0">
      <a
        [routerLink]="['/student/']"
        class="nav-item nav-link"
        [ngClass]="{
          active: isHomePage
        }"
        >Trang Chủ</a
      >
      <a
        [routerLink]="['about']"
        class="nav-item nav-link"
        [ngClass]="{
          active: isAboutPage
        }"
        >Giới Thiệu</a
      >
      <a
        [routerLink]="['courses']"
        href="courses.html"
        class="nav-item nav-link"
        [ngClass]="{
          active: isCoursesPage
        }"
        >Khóa Học</a
      >

      <a
        [routerLink]="['contact']"
        class="nav-item nav-link"
        [ngClass]="{
          active: isContactPage
        }"
        >Liên Hệ</a
      >
    </div>
    <div class="nav-item dropdown">
      <a
        [routerLink]="['dashboard']"
        class="nav-link dropdown-toggle"
        data-bs-toggle="dropdown"
      >
        <i class="fa fa-user text-primary"></i>
      </a>
      <div class="dropdown-menu fade-down m-0">
        <div class="dropdown-user-scroll scrollbar-outer">
          <li>
            <div class="user-box">
              <div class="avatar-lg">
                <img
                  [src]="studentLogin.avt"
                  alt="image profile"
                  class="avatar-img rounded2"
                />
              </div>
              <div class="u-text">
                <h4>{{ studentLogin.fullname }}</h4>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item"
              style="cursor: pointer"
              [routerLink]="['dashboard']"
              >Trang Cá Nhân</a
            >
            <div class="dropdown-divider"></div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logOut()">Đăng Xuất</a>
          </li>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- Navbar End -->
<ng-container *ngIf="isHomePage; else otherHeader">
  <!-- Banner Section -->
  <section class="bg-primary text-light py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h1 class="display-4">
            Chào mừng bạn đến với Nền tảng học tập trực tuyến của chúng tôi
          </h1>
          <p class="lead">
            Mở khóa cơ hội học tập vô hạn từ các chuyên gia trên khắp thế giới.
            Hãy tham gia cùng chúng tôi và mở rộng kiến thức của bạn ngay hôm
            nay!
          </p>
          <a
            [routerLink]="['courses']"
            class="btn btn-lg btn-light text-primary mt-3"
            >Khám phá các khóa học</a
          >
        </div>
        <div class="col-md-6 text-center">
          <img
            src="../../../../assets/student/img/carousel-1.jpg"
            alt="Elearning Image"
            class="img-fluid rounded"
          />
        </div>
      </div>
    </div>
  </section>
</ng-container>

<ng-template #otherHeader>
  <ng-container *ngIf="isDashboardPage; else detailPage"></ng-container>
</ng-template>
<ng-template #detailPage>
  <ng-container *ngIf="isDetailPage; else commonHeader"></ng-container>
</ng-template>
<ng-template #commonHeader>
  <div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
          <h1 class="display-3 text-white animated slideInDown">
            {{ currentPage }}
          </h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item">
                <a class="text-white" [routerLink]="['/student/']">Trang Chủ</a>
              </li>
              <li class="breadcrumb-item">
                <a class="text-white">Trang</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                <a class="text-white text-navigation">{{ currentPage }}</a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</ng-template>
