.nav-item-active {
  color: var(--primary); /* Màu chữ cho trang Home */
}

.nav-item-inactive {
  color: #000; /* Màu chữ cho các trang khác */
}
.text-navigation {
  cursor: pointer;
}
.rounded2{
  border-radius: 50% !important;
    width: 87px;

}
.user-box{
  display: flex;
  flex-direction: column;
}
.dropdown-menu[data-bs-popper="static"] {
  position: absolute !important;
  top: auto !important;
  left: auto !important;
  transform: none !important;
}
