<div class="dashboard-container">
  <!-- Phần Thông tin người dùng -->
  <div class="user-info">
    <div class="user-profile">
      <img
        [src]="studentLogin.avt"
        alt="User Profile"
        class="profile-picture"
        (click)="triggerFileInput()"
      />
      <input
        type="file"
        #fileInput
        (change)="onFileSelected($event)"
        style="display: none"
      />
      <h2>{{ studentLogin.fullname }}</h2>
    </div>
    <div class="user-details">
      <p><i class="fas fa-envelope"></i> {{ studentLogin.email }}</p>
      <p>
        <i class="fas fa-phone"></i> {{ studentLogin.phone || "0000000000" }}
      </p>
      <p><i class="fas fa-calendar"></i> 17/09/2020</p>
    </div>
    
  </div>

  <!-- Phần Nội dung Học tập, Cuộc thi, Luyện tập -->
  <div class="content">
    <!-- Phần Học Tập -->
    <!-- <div class="section study">
      <h3>Học Tập ({{ totalCourses }})</h3>
      <div class="courses">
        <div class="course" *ngFor="let course of currentCourses">
          <img
            [src]="course.imageUrl"
            [alt]="course.name"
            class="img-fluid course-image"
          />
          <h4>{{ course.name }}</h4>
        </div>
      </div>

      <button
        id="previousCourses"
        class="btn btn-primary mt-3"
        (click)="previousCourses()"
      >
        <i class="fas fa-arrow-left"></i>
      </button>
      <button
        id="nextCourses"
        class="btn btn-primary mt-3"
        (click)="nextCourses()"
      >
        <i class="fas fa-arrow-right"></i>
      </button>
    </div> -->

    <div class="section study">
      <h3>Học Tập ({{ totalCourses }})</h3>
      <div *ngIf="currentCourses.length === 0" class="no-courses">
        Bạn chưa đăng ký khóa học nào
      </div>
      <div class="courses">
        <div class="course" *ngFor="let course of currentCourses">
          <a [routerLink]="['/student/courses', course.id]">
            <img
              [src]="course.imageUrl"
              [alt]="course.name"
              class="img-fluid course-image"
            />
          </a>
          <div class="course-content">
            <h4>{{ course.name }}</h4>
            <!-- Hiển thị mô tả khóa học -->
            <div class="course-details">
              <div class="instructor">
                <!-- Hiển thị tên giảng viên -->
                <i class="fas fa-user-tie text-primary pe-1"></i>
                <span>{{ course.instructorName }}</span>
              </div>
              <div class="rating">
                <!-- Hiển thị sao đánh giá -->
                <ng-container *ngFor="let star of getFullStars(course.rating)">
                  <i class="fas fa-star text-primary"></i>
                </ng-container>
                <ng-container *ngIf="getHalfStar(course.rating)">
                  <i class="fas fa-star-half-alt text-primary"></i>
                </ng-container>
                <ng-container *ngFor="let star of getEmptyStars(course.rating)">
                  <i class="far fa-star text-primary"></i>
                </ng-container>
              </div>
              <div class="students">
                <i class="fas fa-user"></i> {{ course.studentsCount }} Students
              </div>
            </div>
          </div>
        </div>
      </div>

      <button
        id="previousCourses"
        class="btn btn-primary mt-3"
        (click)="previousCourses()"
      >
        <i class="fas fa-arrow-left"></i>
      </button>
      <button
        *ngIf="currentCourses.length >= 3"
        id="nextCourses"
        class="btn btn-primary mt-3"
        (click)="nextCourses()"
      >
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>

    
 
    <div class="container my-4 mx-0 px-3">
      <div class="row d-flex justify-content-around">
        <!-- Phần Thảo Luận -->
        <div class="col-md-12 px-0">
          <div class="card">
            <div class="card-header text-uppercase font-weight-bold">
              Thảo Luận
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="discussion-box">
                    <img
                      src="../../../../assets/student/img/comment.png"
                      alt="Bình luận"
                      class="icon"
                    />
                    <p>Bình luận</p>
                    <strong>{{ totalComment }}</strong>
                  </div>
                  <button
                    class="btn btn-primary d-flex ms-auto me-auto mt-3 showall-comment"
                    *ngIf="!isShowComment"
                    (click)="changeShowCommentStatus()"
                  >
                    Xem tất cả
                  </button>
                  <button
                    class="btn btn-primary d-flex ms-auto me-auto mt-3 showall-comment"
                    *ngIf="isShowComment"
                    (click)="changeShowCommentStatus()"
                  >
                    Rút gọn
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Phần Bình luận -->
    <div class="col-12 mt-4" *ngIf="isShowComment">
      <div class="card shadow-sm comments-section">
        <div class="card-header text-uppercase font-weight-bold">Bình luận</div>
        <div class="card-body">
          <!-- Nếu không có bình luận -->
          <div
            *ngIf="userComments.length === 0"
            class="no-comments text-center"
          >
            <p>Bạn chưa có bình luận nào.</p>
          </div>

          <!-- Danh sách bình luận -->
          <div *ngIf="userComments.length > 0" class="comment-list">
            <div *ngFor="let comment of userComments" class="comment-item">
              <div class="comment-header">
                <h6 class="course-name" (click)="goToCourse(comment.course.id)">
                  {{ comment.course.name }}
                </h6>
                <p class="rating">
                  <!-- Hiển thị đánh giá -->
                  <ng-container
                    *ngFor="let star of getFullStars(comment.rating)"
                  >
                    <i class="fas fa-star text-warning"></i>
                  </ng-container>
                  <!--  -->
                  <ng-container
                    *ngFor="let star of getEmptyStars(comment.rating)"
                  >
                    <i class="far fa-star text-warning"></i>
                  </ng-container>
                </p>
                <div class="showSentimentAnalysis">
                  <button
                    class="btn btn-primary btn-sm"
                    (click)="showSentimentAnalysis(comment.course.id)"
                    title="Xem kết quả phân tích cảm xúc"
                  >
                    <i class="bi bi-eye"></i>
                  </button>
                </div>
              </div>
              <p class="comment-content">{{ comment.comment }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
