<div class="course-management">
  <h2>Quản lý Khóa học</h2>
  <!-- Nút Thêm Khóa học -->
  <button class="btn-add-course" (click)="toggleAddCourseForm()">
    {{ isAdding ? 'Đóng Form Thêm Khóa học' : 'Thêm Khóa học' }}
  </button>
  <!-- Form thêm khóa học -->
  <form class="course-form" *ngIf="isAdding" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="courseName">Tên khóa học</label>
      <input id="courseName" type="text" [(ngModel)]="course.name" name="name" required />
    </div>

    <div class="form-group">
      <label for="courseDescription">Mô tả khóa học</label>
      <textarea id="courseDescription" [(ngModel)]="course.description" name="description"></textarea>
    </div>

    <div class="form-group">
      <label for="instructor">Giảng viên phụ trách</label>
      <select id="instructor" [(ngModel)]="course.instructorId" name="instructorId" required>
        <option *ngFor="let instructor of instructors" [value]="instructor.id">
          {{ instructor.fullname }}
        </option>
      </select>
    </div>
    

    <div class="form-group">
      <label for="category">Danh mục khóa học</label>
      <select id="category" [(ngModel)]="course.categoryId" name="categoryId" required>
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>

    <button type="submit" class="btn-save">{{ isEditing ? 'Cập Nhật' : 'Thêm Khóa Học' }}</button>
    <button type="button" class="btn-reset" (click)="resetForm()">Đặt Lại</button>
  </form>

  <!-- Form chỉnh sửa khóa học -->
  <form class="course-form" *ngIf="isEditing" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="courseName">Tên khóa học</label>
      <input id="courseName" type="text" [(ngModel)]="course.name" name="name" required />
    </div>

    <div class="form-group">
      <label for="courseDescription">Mô tả khóa học</label>
      <textarea id="courseDescription" [(ngModel)]="course.description" name="description"></textarea>
    </div>

    <div class="form-group">
      <label for="instructor">Giảng viên phụ trách</label>
      <select id="instructor" [(ngModel)]="course.instructorId" name="instructorId" required>
        <option *ngFor="let instructor of instructors" [value]="instructor.id">
          {{ instructor.fullname }}
        </option>
      </select>
    </div>
    

    <div class="form-group">
      <label for="category">Danh mục khóa học</label>
      <select id="category" [(ngModel)]="course.categoryId" name="categoryId" required>
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="number_of_lessons">Số lượng bài học</label>
      <input id="number_of_lessons" type="text" [(ngModel)]="course.number_of_lessons" name="number_of_lessons"/>
    </div>
    <div class="form-group">
      <label for="number_of_students">Số lượng học viên tối đa</label>
      <input id="number_of_students" type="text" [(ngModel)]="course.number_of_students" name="number_of_students"/>
    </div>
    <div class="form-group">
      <label for="duration">Thời gian khóa học (giờ)</label>
      <input id="duration" type="number" [(ngModel)]="course.duration" name="duration"/>
    </div>
    

    <button type="submit" class="btn-save">{{ isEditing ? 'Cập Nhật' : 'Thêm Khóa Học' }}</button>
    <button type="button" class="btn-reset" (click)="resetForm()">Đặt Lại</button>
  </form>

  <h3>Danh sách Khóa học</h3>
  <table>
    <thead>
      <tr>
        <th>Tên Khóa học</th>
        <th>Mô tả</th>
        <th>Giảng viên phụ trách</th>
        <th>Danh mục</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses">
        <td>{{ course.name }}</td>
        <td>{{ course.description }}</td>
        <td>{{ course.instructor.fullname }}</td>
        <td>{{ course.category.name }}</td>
        <td>
          <button (click)="editCourse(course)"
            type="button"
            class="btn btn-link btn-primary btn-lg"
            title="Chỉnh sửa"
          >
            <i class="fa fa-edit"></i>
          </button>
          <button (click)="deleteCourse(course.id)"
            type="button"
            class="btn btn-link btn-danger"
            title="Xóa"
          >
            <i class="fa fa-times"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
