<div class="sidebar" [ngClass]="{ 'active': isSidebarActive }" [ngStyle]="{ 'background-color': 'rgb(3, 26, 85)' }">
  <div class="sidebar-logo">
    <a [routerLink]="['/admin']" class="logo">
      <img src="assets/logotruong.png" alt="Logo" class="navbar-brand" height="50px" />
    </a>
    
  </div>
  <ul class="nav">
    <li class="nav-item">
      <a [routerLink]="'dashboard'">
        <i class="fas fa-home"></i>
        <span>Dashboard</span>
      </a>
     
    </li>
    <li class="nav-item">
      <a [routerLink]="'quanlykhoahoc'">
        <i class="far fa-chart-bar"></i>
        <span>Quản lí khóa học</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="'quanlynguoidung'">
        <i class="fas fa-users"></i>
        <span>Quản lí người dùng</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="'feedbackmanger'">
        <i class="fas fa-comments"></i>
        <span>Quản lí phản hồi</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="'quanlydanhmuc'">
        <i class="fas fa-folder"></i>
        <span>Quản lí danh mục</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="'contact'">
        <i class="fas fa-envelope"></i>
        <span>Liên hệ</span>
      </a>
    </li>
   
  </ul>
</div>
