<div class="sidebar" [ngClass]="{ 'active': isSidebarActive }" [ngStyle]="{ 'background-color': 'rgb(3 26 85)' }">
  <div class="sidebar-logo">
    <div class="logo-header" data-background-color="white">
      <a [routerLink]="['/admin']" class="logo">
        <img src="assets/lecture_admin/img/logotruong.png" alt="navbar brand" class="navbar-brand" height="50px" />
      </a>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar" (click)="toggleSidebar()">
          <i class="gg-menu-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler" (click)="toggleSidebar()">
          <i class="gg-menu-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more">
        <i class="gg-more-vertical-alt"></i>
      </button>
    </div>
  </div>
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">
        <li class="nav-item">
          <a data-bs-toggle="collapse" class="collapsed" aria-expanded="false" routerLink="dashboard">
            <i class="fas fa-home"></i>
            <p>Dashboard</p>
          </a>
          <div class="collapse" id="dashboard">
            <ul class="nav nav-collapse">
              <li>
                <a href="../demo1/index.html">
                  <span class="sub-item">Dashboard 1</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-section">
          <span class="sidebar-mini-icon">
            <i class="fa fa-ellipsis-h"></i>
          </span>
          <h4 class="text-section">Quản lí</h4>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" [routerLink]="['quanlykhoahoc']">
            <i class="far fa-chart-bar"></i>
            <p>Quản lí khóa học</p>
          </a>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" routerLink="quanlynguoidung">
            <i class="fas fa-layer-group"></i>
            <p>Quản lí người dùng</p>
          </a>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" routerLink="feedbackmanger">
            <i class="fas fa-th-list"></i>
            <p>Quản lí phản hồi</p>
          </a>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" routerLink="quanlydanhmuc">
            <i class="fas fa-layer-group"></i>
            <p>Quản lí danh mục</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
