<div class="dashboard-container">
  <div class="cart-container">
    <div class="dashboard-card">
      <div class="card-icon icon-primary">
        <i class="fas fa-users"></i>
      </div>
      <div class="card-details">
        <p class="card-category">Số lượng người dùng</p>
        <h4 class="card-title">{{ stats.users }}</h4>
      </div>
    </div>

    <div class="dashboard-card">
      <div class="card-icon icon-info">
        <i class="fa-solid fa-comment"></i>
      </div>
      <div class="card-details">
        <p class="card-category">Số lượng phản hồi</p>
        <h4 class="card-title">{{ stats.feedbacks }}</h4>
      </div>
    </div>

    <div class="dashboard-card">
      <div class="card-icon icon-success">
        <i class="fa-solid fa-book"></i>
      </div>
      <div class="card-details">
        <p class="card-category">Số lượng khóa học</p>
        <h4 class="card-title">{{ stats.courses }}</h4>
      </div>
    </div>

    <div class="dashboard-card">
      <div class="card-icon icon-secondary">
        <i class="fa-solid fa-list"></i>
      </div>
      <div class="card-details">
         <p class="card-category">Số lượng danh mục</p>
        <h4 class="card-title">{{ stats.categories }}</h4>
      </div>
    </div>
    <div class="canvas-container">
      <app-sentiment-analystis-admin/>
    </div>
  </div>
</div>