<div class="sidebar"  [ngStyle]="{ 'background-color': '#0B4A9A' }">
  <div class="sidebar-logo">
    <a [routerLink]="['/instructors']" class="logo">
      <img src="assets/logotruong.png" alt="Logo" class="navbar-brand" height="50px" />
    </a>
    
  </div>
  <ul class="nav">
    <li class="nav-item">
      <a [routerLink]="'dashboard'">
        <i class="fas fa-home"></i>
        <span>Dashboard</span>
      </a>
     
    </li>
   
    <li class="nav-item">
      <a [routerLink]="'quanlysinhvien'">
        <i class="fas fa-users"></i>
        <span>Quản lí sinh viên</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="'feedbackmanager'">
        <i class="fas fa-comments"></i>
        <span>Quản lí phản hồi</span>
      </a>
    </li>
    
    <li class="nav-item">
      <a [routerLink]="'contact'">
        <i class="fas fa-envelope"></i>
        <span>Liên hệ</span>
      </a>
    </li>
   
  </ul>
</div>
