<div class="category-management">
  <h2>Quản lý Danh mục</h2>

  <!-- Input tìm kiếm -->
  <div class="filter-container">
    <input
      id="searchCategory"
      type="text"
      [(ngModel)]="searchCategoryName"
      placeholder="Tìm kiếm danh mục theo tên"
      class="filter-input"
    />
    <button class="btn-search" (click)="applyCategorySearch()">Tìm kiếm</button>
  </div>

  <!-- Nút thêm danh mục -->
  <button class="btn-add-category" (click)="toggleAddCategoryForm()">
    {{ isAddingCategory ? 'Đóng Form Thêm Danh mục' : 'Thêm Danh mục' }}
  </button>

  <!-- Form thêm danh mục -->
  <form *ngIf="isAddingCategory" (ngSubmit)="submitCategory()">
    <div class="form-group">
      <label for="categoryName">Tên danh mục</label>
      <input id="categoryName" type="text" [(ngModel)]="category.name" name="name" required />
    </div>
    <button type="submit" class="btn btn-success">Thêm Danh mục</button>
    <button type="button" class="btn btn-secondary" (click)="toggleAddCategoryForm()">Hủy</button>
  </form>

  <!-- Form sửa danh mục -->
  <form *ngIf="category.id && !isAddingCategory" (ngSubmit)="updateCategory(category.id)">
    <div class="form-group">
      <label for="editCategoryName">Tên danh mục</label>
      <input id="editCategoryName" type="text" [(ngModel)]="category.name" name="name" required />
    </div>
    <button type="submit" class="btn btn-warning">Cập nhật Danh mục</button>
    <button type="button" class="btn btn-secondary" (click)="category = {}; isAddingCategory = false;">Hủy</button>
  </form>

  <!-- Danh sách danh mục -->
  <table>
    <thead>
      <tr>
        <th>Số Thứ Tự</th>
        <th>Tên Danh mục</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of paginatedCategories; let i = index">
        <td>{{ i + 1 }}</td> <!-- Hiển thị số thứ tự -->
        <td>{{ category.name }}</td>
        <td>
          <!-- Nút chỉnh sửa -->
          <button (click)="editCategory(category.id)"
            type="button"
            title="Chỉnh sửa"
          >
            <i class="fa fa-edit"></i>
          </button>
  
          <!-- Nút xóa -->
          <button (click)="deleteCategory(category.id)"
            type="button"
            title="Xóa"
          >
            <i class="fa fa-times"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Trước</button>

    <button *ngFor="let page of [].constructor(totalPages); let i = index"
            (click)="goToPage(i + 1)"
            [class.active]="currentPage === i + 1">
      {{ i + 1 }}
    </button>

    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Tiếp</button>
  </div>
</div>
