<div class="feedback-container">
  
  <app-sentiment-analystis-admin/>
  
  <h2>Danh Sách Phản Hồi</h2>
  <div class="filter-container">
    <input
      type="text"
      placeholder="Tên sinh viên"
      [(ngModel)]="studentNameFilter"
      class="filter-input"
    />
    <input
      type="date"
      [(ngModel)]="dateFilter"
      class="filter-input"
    />
    <input
      type="text"
      placeholder="Tên khóa học"
      [(ngModel)]="courseNameFilter"
      class="filter-input"
    />
    <button (click)="applyFilters()">Lọc</button>
  </div>
  <!-- Bảng dữ liệu phản hồi -->
  <table class="feedback-table">
    <thead>
      <tr>
        <th>Khóa học</th>
        <th>Sinh viên</th>
        <th>Thời gian phản hồi</th>
        <th>Cảm xúc</th>
        <th>Đánh giá</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of (isFiltering ? filteredFeedback : feedback)">
        <td>{{ item.course.name }}</td>
        <td>{{ item.reviewStudent.fullname }}</td>
        <td >
          {{item.updatedAt | date: 'dd/MM/yyyy '}}
        </td>
        <td class="clickable" (click)="showSentimentDetails(item.sentimentAnalysis)">
          {{ item.sentimentAnalysis.sentimentLabel }}
        </td>
        
        <td>{{ item.comment }}</td>
        
        
      </tr>
      
      
    </tbody>
  </table>

   
</div>
