<div class="container container-title py-5 mx-0">
  <div class="row" *ngIf="courseDetail">
    <div class="col-md-6">
      <div class="container">
        <div class="row title">
          <p>{{ courseDetail.name }}</p>
        </div>
        <div class="row instructor">
          <p>{{ courseDetail.instructorName }}</p>
        </div>
        <div class="row description">
          <p>
            {{ courseDetail.description }}
          </p>
        </div>
        <div class="row controller">
          <div class="col-md-2">
            <button class="btn btn-primary register-button">Register</button>
          </div>
          <div class="col-sm-1"></div>
          <div class="col-md-2">
            <button class="btn btn-primary trial-button">Trial</button>
          </div>
        </div>
        <div
          class="row information min-h-[68px] max-w-[440px] flex flex-wrap gap-2 my-5"
        >
          <div
            class="w-auto h-[30px] py-1 px-3 rounded-[4px] bg-[#19395E] flex gap-2 items-center text-sm"
          >
            <img
              src="../../../../assets/student/img/watch-circle-time.png"
              width="14"
              height="14"
              alt="watch-circle-time"
            />{{ courseDetail.duration }} giờ
          </div>
          <div
            class="w-auto h-[30px] py-1 px-3 rounded-[4px] bg-[#19395E] flex gap-2 items-center text-sm"
          >
            <img
              src="../../../../assets/student/img/bullet-list--points.png"
              width="14"
              height="14"
              alt="bullet-list--points"
            />107 bài giảng
          </div>
          <div
            class="w-auto h-[30px] py-1 px-3 rounded-[4px] bg-[#19395E] flex gap-2 items-center text-sm"
          >
            <img
              src="../../../../assets/student/img/user-multiple-group.png"
              width="14"
              height="14"
              alt="user-multiple-group"
            />13 học viên
          </div>
          <div
            class="w-auto h-[30px] py-1 px-3 rounded-[4px] bg-[#19395E] flex gap-2 items-center text-sm"
          >
            <img
              src="../../../../assets/student/img/receipt-check.png"
              width="14"
              height="14"
              alt="receipt-check"
            />Chứng chỉ
          </div>
          <div
            class="w-auto h-[30px] py-1 px-3 rounded-[4px] bg-[#19395E] flex gap-2 items-center text-sm"
          >
            <img
              src="../../../../assets/student/img/star-1.png"
              width="14"
              height="14"
              alt="star-1"
            />0.0 (0 đánh giá)
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4 img-course">
      <img src="../../../../assets/student/img/course-1.jpg" alt="" />
    </div>
  </div>
</div>
<div
  class="container container-menu mw-100"
  [ngClass]="{ 'fixed-menu': isMenuFixed }"
>
  <div class="row">
    <ul class="menu-list">
      <li><a href="#Introduce">Introduce</a></li>
      <li><a href="#Syllabus">Syllabus</a></li>
      <li><a href="#Reviews">Reviews</a></li>
      <li><a href="#Certificate">Certificate</a></li>
      <li><a href="#Comments">Comments</a></li>
    </ul>
  </div>
</div>
<div class="container container-content">
  <div class="row" id="Introduce">
    <div class="content col-md-8"></div>
    <div class="col-md-4"></div>
  </div>
  <div class="row" id="Syllabus">
    <div class="content col-md-8"></div>
    <div class="col-md-4"></div>
  </div>
  <div class="row" id="Reviews">
    <div class="content col-md-8"></div>
    <div class="col-md-4"></div>
  </div>
  <div class="row" id="Certificate">
    <div class="content col-md-8"></div>
    <div class="col-md-4"></div>
  </div>
  <div class="row" id="Comments">
    <div class="content col-md-8"></div>
    <div class="col-md-4"></div>
  </div>
  <div class="box-sticky" [ngClass]="{ show: showStickyBox }">
    <div class="container py-2">
      <div class="row sticky-title">
        <p>Khóa học này bao gồm:</p>
      </div>
      <div class="row sticky-information">
        <div
          class="w-auto h-[30px] py-1 px-3 rounded-[4px] bg-[#19395E] flex gap-2 items-center text-sm"
        >
          <img
            src="../../../../assets/student/img/watch-circle-time.png"
            width="14"
            height="14"
            alt="watch-circle-time"
          />29 giờ
        </div>
        <div
          class="w-auto h-[30px] py-1 px-3 rounded-[4px] bg-[#19395E] flex gap-2 items-center text-sm"
        >
          <img
            src="../../../../assets/student/img/bullet-list--points.png"
            width="14"
            height="14"
            alt="bullet-list--points"
          />107 bài giảng
        </div>
        <div
          class="w-auto h-[30px] py-1 px-3 rounded-[4px] bg-[#19395E] flex gap-2 items-center text-sm"
        >
          <img
            src="../../../../assets/student/img/user-multiple-group.png"
            width="14"
            height="14"
            alt="user-multiple-group"
          />13 học viên
        </div>
        <div
          class="w-auto h-[30px] py-1 px-3 rounded-[4px] bg-[#19395E] flex gap-2 items-center text-sm"
        >
          <img
            src="../../../../assets/student/img/receipt-check.png"
            width="14"
            height="14"
            alt="receipt-check"
          />Chứng chỉ
        </div>
        <div
          class="w-auto h-[30px] py-1 px-3 rounded-[4px] bg-[#19395E] flex gap-2 items-center text-sm"
        >
          <img
            src="../../../../assets/student/img/star-1.png"
            width="14"
            height="14"
            alt="star-1"
          />0.0 (0 đánh giá)
        </div>
      </div>
      <div class="row sticky-controller">
        <button class="btn btn-primary register-button">Register</button>
        <button class="btn btn-primary trial-button">Trial</button>
      </div>
    </div>
  </div>
</div>
