.container-title {
  background-color: var(--primary);
  color: #fff;
  max-width: 100%;
  padding: 0 8rem;
}

.information {
  max-width: 60%;
}
.information div {
  background-color: rgba(211, 211, 211, 0.5);
}
.img-course {
  width: 30%;
  display: flex;
}
.img-course img {
  width: 80%;
  object-fit: contain;
}
.container-content {
  display: flex;
}

.content {
  flex: 1;
}

.box-sticky {
  background-color: var(--primary);
  position: fixed;
  right: 20px;
  top: 100px;
  width: 20%;
  display: none;
  color: #fff;
  border-radius: 10px;
}

/* Khi showStickyBox là true, box-sticky sẽ hiện */
.box-sticky.show {
  display: block;
}

.box-sticky.container {
  max-width: 100%;
}
.sticky-title > p {
  font-size: 1.5rem;
  font-weight: bold;
}
.sticky-information {
  flex-direction: column;
}
.sticky-information > div {
  margin-bottom: 0.5rem;
}
.sticky-controller {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(211, 211, 211, 0.5);
  padding: 1rem 0;
}
.sticky-controller .btn {
  width: 45%;
  border-radius: 10px;
}
.register-button,
.trial-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  font-weight: bold;
  font-size: 16px;
}
.register-button {
  background-color: #f56060 !important;
  border: none;
}
.trial-button {
  border: none;
  background-color: #13c296 !important;
}
.register-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.trial-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
.container-menu {
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
  margin: 0;
}

.menu-list li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px 15px;
}

.menu-list li a:hover {
  color: #007bff;
}

/* CSS khi menu cố định */
.fixed-menu {
  position: fixed;
  top: 0;
  width: 100%;
}
