<div class="dashboard-container">
  <div class="cart-container">
    <div class="dashboard-card">
      <div class="card-icon icon-primary">
        <i class="fas fa-users"></i>
      </div>
      <div class="card-details">
        <p class="card-category">Số lượng sinh viên</p>
        <h4 class="card-title">{{ stats.studentsCount || '0' }}</h4>
      </div>
    </div>

    <div class="dashboard-card">
      <div class="card-icon icon-info">
        <i class="fa-solid fa-comment"></i>
      </div>
      <div class="card-details">
        <p class="card-category">Số lượng phản hồi</p>
        <h4 class="card-title">{{ stats.reviewsCount || '0' }}</h4>
      </div>
    </div>

    <div class="dashboard-card">
      <div class="card-icon icon-success">
        <i class="fa-solid fa-book"></i>
      </div>
      <div class="card-details">
        <p class="card-category">Số lượng khóa học giảng dạy</p>
        <h4 class="card-title">{{ stats.coursesCount || '0' }}</h4>
      </div>
    </div>

    
    <div class="canvas-container">
      <app-sentiment-analysis-instructor/>
    </div>
  </div>
</div>